<section class="sec sec01" id="section-OUR-PARTNERS">
    <div class="cntr">
      <div class="block-title clfx">
        <h2>OUR PARTNERS</h2>
        <div class="thumb-arrows part-thumbnl-arrow"></div>
      </div>
      <br>
      <div class="part-thumbnl">

        <div>
          <a href="#" class="part-thumb"><img src="/src/assets/img/thumb09.png" alt=""></a>
        </div>

        <div>
          <a href="#" class="part-thumb"><img src="/src/assets/img/thumb10.png" alt=""></a>
        </div>

        <div>
          <a href="#" class="part-thumb"><img src="/src/assets/img/thumb11.png" alt=""></a>
        </div>

        <div>
          <a href="#" class="part-thumb"><img src="/src/assets/img/thumb12.png" alt=""></a>
        </div>

        <div>
          <a href="#" class="part-thumb"><img src="/src/assets/img/thumb13.png" alt=""></a>
        </div>

        <div>
          <a href="#" class="part-thumb"><img src="/src/assets/img/thumb09.png" alt=""></a>
        </div>

      </div>


    </div>
  </section>
  <!-- //part-block -->

  <div class="a-block">
      <section class="sec sec02" id="sec02">
        <div class="cntr">
          <div class="vdo-title">
            <div class="cntr">
              <i class="lnr lnr-camera-video"></i>
              <h2>Videos Title</h2>
            </div>
          </div>

          <br>
          <div class="vd-wrap">

            <div>
              <div class="vid-box">
                <a href="#">
            <span class="vd-thumb">
              <img src="/src/assets/img/vd01.jpg" alt="">
              <i></i>
            </span>
            <h3>SURFACE PRO (2018)</h3>
          </a>
              </div>
            </div>

            <div>
              <div class="vid-box">
                <a href="#">
            <span class="vd-thumb">
              <img src="/src/assets/img/vd02.jpg" alt="">
              <i></i>
            </span>
            <h3>Introducing Microsoft Surface Hub 2</h3>
          </a>
              </div>
            </div>

            <div>
              <div class="vid-box">
                <a href="#">
            <span class="vd-thumb">
              <img src="/src/assets/img/vd03.jpg" alt="">
              <i></i>
            </span>
            <h3>iPad Pro after one week: Can it replace your laptop?</h3>
          </a>
              </div>
            </div>

            <div>
              <div class="vid-box">
                <a href="#">
            <span class="vd-thumb">
              <img src="/src/assets/img/vd01.jpg" alt="">
              <i></i>
            </span>
            <h3>SURFACE PRO (2018)</h3>
          </a>
              </div>
            </div>

            <div>
              <div class="vid-box">
                <a href="#">
            <span class="vd-thumb">
              <img src="/src/assets/img/vd02.jpg" alt="">
              <i></i>
            </span>
            <h3>Introducing Microsoft Surface Hub 2</h3>
          </a>
              </div>
            </div>

            <div>
              <div class="vid-box">
                <a href="#">
            <span class="vd-thumb">
              <img src="/src/assets/img/vd03.jpg" alt="">
              <i></i>
            </span>
            <h3>iPad Pro after one week: Can it replace your laptop?</h3>
          </a>
              </div>
            </div>



          </div>

        </div>
      </section>
      <div class="vdo-right-bgr"><i></i></div>
      <section class="sec sec03 clfx">
        <!-- //bgr-before -->
      </section>
    </div>
    <!-- //a-block -->

    <section class="sec sec04 sec-hwr clfx" id="section-about">
        <div class="s-left parallax-window" data-parallax="scroll" data-image-src="/src/assets/img/bgr02.jpg">

        </div>
        <div class="s-right">
          <div class="block-title2 clfx">
            <h2>Who We Are</h2>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

        </div>
      </section>

      <section class="sec sec05 sec-wwd clfx">
        <div class="s-left">
          <div class="block-title2 clfx">
            <h2>What We Do</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

          </div>
        </div>
        <div class="s-right parallax-window" data-parallax="scroll" data-image-src="/src/assets/img/bgr03.jpg"></div>
      </section>




      <section class="sec sec06 sec-How-We-do">
        <div class="cntr">
          <div class="block-title3">
            <h2>How We do it</h2>
            <span class="sperater"><i></i><i class="active"></i><i></i></span>
          </div>
          <div class="text-01">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <br>


          <div class="cirlec-slider">
            <div class="cirlec-slider-bg">

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-drop"></i>
                  <h6>Decentralised</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
              </div>
              <!-- //cit-box -->

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-sync"></i>
                  <h6>Regulated</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-lock"></i>
                  <h6>Secure</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-frame-expand"></i>
                  <h6>Transparent</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-spell-check"></i>
                  <h6>Multi-Lingual</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-flag"></i>
                  <h6>Multi-Currency</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>by injected humour, or randomised words which do not look even slightly believable.</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-diamond"></i>
                  <h6>Property Funding</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>"Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-gift"></i>
                  <h6>Project Finance</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-apartment"></i>
                  <h6>Property Sales</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-store"></i>
                  <h6>Property Rentals</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-layers"></i>
                  <h6>Property Management</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </div>

              <div class="cit-box">
                <div class="c-box-in">
                  <i class="lnr lnr-rocket"></i>
                  <h6>Self-Sufficient</h6>
                  <u class="fa fa-circle-thin"></u>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
              </div>

              <div class="cit-box-detls">
                <!-- ... ^^ ... -->
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="sec sec07">
        <div class="cntr">
          <div class="w50p">
            <div class="box-title">
              <i class="lnr lnr-question-circle"></i>
              <h2>The Problem</h2>
              <span class="sperater"><i></i><i class="active"></i><i></i></span>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
               Lorem Ipsum has been the industrys standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type
              specimen book. It has survived not only five centuries, but also the leap into
               electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                 and more recently withdesktoppublishing software like Aldus PageMaker including
                  versions of Lorem Ipsum.
            </p>
            <br>


          </div>
          <div class="w50p">
            <div class="box-title">
              <i class="lnr lnr-flag"></i>
              <h2>The Solution</h2>
              <span class="sperater"><i></i><i class="active"></i><i></i></span>
            </div>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
              specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
              desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <br>


          </div>

        </div>
      </section>


      <section class="sec sec-roadmap" id="section-roadmap">
        <div class="cntr">
          <div class="block-title3 text-cntr">
            <h2>Roadmap</h2>
            <span class="sperater"><i></i><i class="active"></i><i></i></span>
            <p>
              2012 Initial idea</p>
            <p>
              to develop a blockchain platform for property funding
            </p>
          </div>

          <i class="v-line"></i>
          <ul class="map-list clfx">

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q1</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2016 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Blockchain technology reaches maturity required to launch a regulated platform for property financing.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q1</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2016 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Financial Holding Company incorporated in the Netherlands for first Max Property Group property funds.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q1</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2016 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Founders money used to prove financial model by buying, renovating and renting out apartments in Rotterdam.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q2</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2016 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Max Property Group website developed and translated into three languages (English, Dutch and German).
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q3</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2016 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Regulatory compliant prospectus for first Dutch property fund completed.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q4</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2016 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Max Property Group Netherland goes live and is fully subscribed within the set time frame.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q2</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2017 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Regulatory compliant documentation for Max Property Group Germany and United Kingdom completed.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q4</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2017 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Max Property Group Germany and United Kingdom launched (currently raising funds).
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q4</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2017 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Dominium team appointed, technology selected, and development team contracted.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q1</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2018 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Platform development started, website designed, and referral program created.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q1</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2018 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Private funding round closed to pay for initial platform development.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q1</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2018 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Initial Financial Holding Company name changed to Dominium B.V.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>Q2</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2018 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Finalise English version of Platform and initiate pre-ITO and ITO rounds.
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="clfx">
                <span class="crcl"><span>YR</span></span>
                <div class="lef-crcl">
                  <em class="v-line">2018 <u></u></em>
                  <div class="r-text">
                    <div class="r-text-in">
                      Purchase property in NL, DE and UK, migrate all MPG assets to platform, finalise beta-testing of all functionalities.
                    </div>
                  </div>
                </div>
              </div>
            </li>



          </ul>

        </div>
      </section>

      <section class="sec sec08 sale-details" id="sale-details">
        <div class="cntr">
          <div class="block-title clfx">
            <h2>Token Sale Details</h2>
          </div>
          <br>
          <div class="s-detail-wrap">
            <ul class="s-detail-list">
              <li class="clfx">
                <span>Total Token Supply</span>
                <em> 1,000,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Number of tokens for sale </span>
                <em>700,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Seed round <u>(Sold out)</u> </span>
                <em>100,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Pre-ITO / Private Sale - €0.05 per DOM (From 15/08/2018 12:00 CET to 31/08/2018 12:00 CET) </span>
                <em>100,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Total Token Supply</span>
                <em> 1,000,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Number of tokens for sale </span>
                <em>700,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Seed round <u>(Sold out)</u> </span>
                <em>100,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Pre-ITO / Private Sale - €0.05 per DOM (From 15/08/2018 12:00 CET to 31/08/2018 12:00 CET) </span>
                <em>100,000,000 DOM</em>
              </li>
              <li class="clfx">
                <span>Total Token Supply</span>
                <em> 1,000,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Number of tokens for sale </span>
                <em>700,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Seed round <u>(Sold out)</u> </span>
                <em>100,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Pre-ITO / Private Sale - €0.05 per DOM (From 15/08/2018 12:00 CET to 31/08/2018 12:00 CET) </span>
                <em>100,000,000 DOM</em>
              </li>

              <li class="clfx">
                <span>Total Token Supply</span>
                <em> 1,000,000,000 DOM</em>
              </li>
            </ul>
          </div>
        </div>
      </section>



      <section class="sec sec09">
        <div class="cntr">
          <div class="block-title clfx">
            <h2>Token Values</h2>
          </div>
          <br>
          <div class="w-wrap">
            <div class="w-50p">
              <h3><i class="lnr lnr-diamond"></i> DOM tokens are used to pay for all activities on the platform, such as:</h3>
              <ul>
                <li><i></i><span> Creation of Assets</span></li>
                <li><i></i><span> Trading of Assets</span></li>
                <li><i></i><span> Creation of support tickets</span></li>
                <li><i></i><span> Voting for charities</span></li>
                <li><i></i><span> Listing a property for sale</span></li>
                <li><i></i><span> Listing a property for rent</span></li>
                <li><i></i><span> Registering a rental agreement</span></li>
                <li><i></i><span> Registering a purchase agreement</span></li>
              </ul>
            </div>
            <div class="w-50p">
              <h3><i class="lnr lnr-pie-chart"></i> Fees charged on DOMINIUM are charged in EURO, but can only be paid in DOM tokens:</h3>
              <ul>
                <li><i></i><span> €0,25 for each support ticket creation</span></li>
                <li><i></i><span> €0,50 to vote for a charity</span></li>
                <li><i></i><span> €1,00 to buy an Asset</span></li>
                <li><i></i><span> €1,00 to sell an Asset</span></li>
                <li><i></i><span> €1,00 to list a property</span></li>
                <li><i></i><span> €2,50 to register a rental agreement</span></li>
                <li><i></i><span> €5,00 to register a purchase agreement</span></li>
                <li><i></i><span> €500 to create a non-regulated Asset (exempt)</span></li>
                <li><i></i><span> €2,500 to create a regulated Asset</span></li>
              </ul>
            </div>
          </div>

        </div>
      </section>


      <section class="sec sec10">
        <div class="cntr">
          <div class="block-title clfx">
            <h2>Token Burn Program</h2>
          </div>
          <div class="sec10-in">
            <p>
              All DOM tokens collected on DOMINIUM and acquired via the buy-back program will be collected in a multi-signatory account, of which the company supervisor, Confidon, will be a signatory. These tokens will therefore be taken out of circulation upon deposit in the account and will be burned (destroyed) every year, or as required. Token burns will be audited and publicly announced.
            </p>
            <p>
              This makes the DOM token one of the few tokens with a diminishing supply!!!
            </p>
          </div>
        </div>
      </section>

      <section class="sec sec11">
        <div class="cntr">
          <div class="block-title clfx">
            <h2>Buy-Back Program </h2>
          </div>
          <br>
          <div class="chart-wrap">
            <canvas id="chart-area"></canvas>
          </div>
          <div class="sec11-in">
            <h2></h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
              specimen book.
            </p>
            <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>

        </div>
      </section>

      <section class="sec sec12" id="section-airdrop">
        <div class="cntr">
          <img src="/src/assets/img/img10.png" alt="">
          <div class="sec12-in">
            <div class="title02"><h2>Air Drop</h2>
            </div>
            <ul>
              <li>REGISTER an account as an individual and receive 25 DOM tokens.</li>
              <li>INTRODUCE a friend and you both receive 25 DOM!</li>
              <li>REGISTER an account as a company and receive 100 DOM tokens.</li>
              <li>INTRODUCE a company and both of you receive 100 DOM!</li>
              <li>A total of 100,000,000 DOM tokens (10%) will be given away during the Air Drop and Referral Program.</li>
            </ul>
            <br>

            <div class="btns- clfx">
              <a href="#" class="buttn">Air Drop!</a>
            </div>

          </div>

        </div>
      </section>

      <section class="a-block-wrap">
        <div id="trigger1"></div>
        <div id="a-block">
          <div class="a-block-in">
            <h3 class="c-title c-title1">Financial model <br>currently used in online <br>advertising</h3>
            <h3 class="c-title c-title2">Decentralized platform HOQU
            <span>With smart contracts, merchants can get in touch with
            affiliates directly, saving over 44% of their advertising budget.
            </span>
  </h3>
            <span class="c00">
            <span class="c02"><img src="/src/assets/img/img14.png" alt=""><em> Merchants</em></span>
            <span class="c03"><img src="/src/assets/img/img14.png" alt=""><em> Affiliates</em></span>
            </span>
            <span class="c01"><img src="/src/assets/img/img11.png" alt=""></span>

            <div class="c-ss c-ss1">
              <i class="c-dot"></i>
              <span>Banks Payment systems</span>
              <em>3-5% commission </em>
              <em>on turnover</em>
            </div>

            <div class="c-ss c-ss2">
              <i class="c-dot"></i>
              <span>CPA Networks Advertising agencies</span>
              <em>15-25% commission </em>
              <em>on turnover</em>
            </div>

            <div class="c-ss c-ss3">
              <i class="c-dot"></i>
              <span>Advertising platforms and services</span>
              <em>5-15% commission </em>
              <em>on turnover</em>
            </div>

            <div class="c05">
              Commission <br> for the deal <br><em>0,5%</em>
            </div>
            <a href="#" class="vdo-btn">
              <i></i>
              <em>Watch Video</em>
              <span>How HOQU works</span>
              <u></u>
            </a>



          </div>
        </div>
      </section>
      <!-- //block-wrap -->



      <section class="sec sect-features" id="particles-js2">
        <div class="cntr">
          <div class="box-title">
            <h2>Features</h2>
            <span class="sperater"><i></i><i class="active"></i><i></i></span>
          </div>
          <br>
          <ul class="ft-list clfx">
            <li>
              <div class="ft-wrap">
                <span class="ico"><i class="lnr lnr-pie-chart"></i></span>
                <div class="clfx">
                  <h3>
                  Lorem Ipsum is simply dummy
                </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="ft-wrap">
                <span class="ico"><i class="lnr lnr-hourglass"></i></span>
                <div class="clfx">
                  <h3>
                  Lorem Ipsum is simply dummy
                </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="ft-wrap">
                <span class="ico"><i class="lnr lnr-funnel"></i></span>
                <div class="clfx">
                  <h3>
                  Lorem Ipsum is simply dummy
                </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="ft-wrap">
                <span class="ico"><i class="lnr lnr-earth"></i></span>
                <div class="clfx">
                  <h3>
                  Lorem Ipsum is simply dummy
                </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="ft-wrap">
                <span class="ico"><i class="lnr lnr-diamond"></i></span>
                <div class="clfx">
                  <h3>
                  Lorem Ipsum is simply dummy
                </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </li>

            <li>
              <div class="ft-wrap">
                <span class="ico"><i class="lnr lnr-alarm"></i></span>
                <div class="clfx">
                  <h3>
                  Lorem Ipsum is simply dummy
                </h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </li>
          </ul>


        </div>
      </section>


      <section class="sec sect-why">
        <div class="sect-why-title">
          <div class="cntr">
            <div class="box-title">
              <h2>Why block Title..</h2>
              <span class="sperater"><i></i><i class="active"></i><i></i></span>
            </div>
          </div>
        </div>
        <div class="sect-why-in">
          <div class="cntr">


            <ul class="why-nav clfx">

              <li>
                <a href="#">
                  <u>MVP <em>Done</em></u>
                  <span>
                  <div class="p-circle c100 p25">
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                </span></a>
                <div class="nav-in">
                  <div class="n-text-right">
                    <i></i>
                    <h4>OTHER ICOs</h4>
                    <p>Only 53.4% of ICOs projects had a developed product before their ICOs campaign. </p>
                  </div>
                  <div class="n-text-left">
                    <i></i><u></u>
                    <h4>OTHER ICOs</h4>
                      <p>
                        Only 50% of ICOs projects were able to collect more than <b>$100,000</b>.
                      </p>
                  </div>
                </div>
              </li>

              <li class="n-active">
                <a href="#">
                  <u>$700,000 <em>RAISED</em></u>
                    <span>
                  <div class="p-circle c100 p60">
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                </span></a>
                <div class="nav-in">
                  <div class="n-text-right">
                    <i></i>
                    <h4>OTHER ICOs</h4>
                    <p>Only 53.4% of ICOs projects had a developed product before their ICOs campaign. </p>
                  </div>
                  <div class="n-text-left">
                    <i></i>
                    <h4>OTHER ICOs</h4>
                      <p>
                        Only 50% of ICOs projects were able to collect more than <b>$100,000</b>.
                      </p>
                  </div>
                </div>
              </li>

              <li>
                <a href="#">
                  <u>Legal Entity <em>DONE</em></u>
                  <span>
                  <div class="p-circle c100 p66">
                          <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                          </div>
                      </div>
                </span></a>
                <div class="nav-in">
                  <div class="n-text-right">
                    <i></i><u></u>
                    <h4>OTHER ICOs</h4>
                    <p>Only 53.4% of ICOs projects had a developed product before their ICOs campaign. </p>
                  </div>
                  <div class="n-text-left">
                    <i></i><u></u>
                    <h4>OTHER ICOs</h4>
                      <p>
                        Only 50% of ICOs projects were able to collect more than <b>$100,000</b>.
                      </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </section>


      <section class="sec sect-simple">
        <div class="cntr">
          <div class="box-title">
            <h2>See How Simple It Is</h2>
            <span class="sperater"><i></i><i class="active"></i><i></i></span>
          </div>
          <div class="v-arrow"></div>

          <div class="vdo-slider">



            <div>
              <div class="vdo-block clfx">
                <div class="s-video-wrap">
                  <video id="video1">
                    <source src="/src/assets/Geomineing.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <span class="vdo-mask"><a href="#video1" class="vd-play-btn"></a></span>
                </div>
                <!-- //s-video-wrap -->
                <div class="vdo-text">
                  <h3>
                    Lorem Ipsum is simply dummy text of the printing
                  </h3>
                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </div>


            <div>
              <div class="vdo-block clfx">
                <div class="s-video-wrap">
                  <video id="video2">
                    <source src="/src/assets/Geomineing.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <span class="vdo-mask"><a href="#video2" class="vd-play-btn"></a></span>
                </div>
                <!-- //s-video-wrap -->
                <div class="vdo-text">
                  <h3>
                    Lorem Ipsum is simply dummy text of the printing
                  </h3>
                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </div>


            <div>
              <div class="vdo-block clfx">
                <div class="s-video-wrap">
                  <video id="video3">
                    <source src="/src/assets/Geomineing.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <span class="vdo-mask"><a href="#video3" class="vd-play-btn"></a></span>
                </div>
                <!-- //s-video-wrap -->
                <div class="vdo-text">
                  <h3>
                    Lorem Ipsum is simply dummy text of the printing
                  </h3>
                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  </p>
                </div>
              </div>
            </div>



          </div>


        </div>
      </section>



      <section class="sec sec13 sec-users-cart">
        <div class="cntr">
          <div class="title-05">
            <h2>TEAM</h2>
          </div>

          <ul class="u-list">

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>

            <li>
              <div class="uc-wrap">
                <div class="uc-hdr">
                  <span>
                    <img src="/src/assets/img/avatar.png" alt="">
                  </span>
                </div>
                <div class="uc-in">
                  <h3>Ibrahim Hassan</h3>
                  <em>Managing Director</em>
                  <ul class="uc-social">
                    <li><a href="#" class="uc-link-facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="uc-link-twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="uc-link-linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" class="uc-link-google-plus"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>


          </ul>

        </div>
      </section>
      <!-- //carts -->
