

    <div class="big-bgr parallax-window" data-parallax="scroll" data-image-src="/src/assets/img/Dubai.jpg">
      <div id="particles-js">

      </div>
      <div class="big-bgr-in">
        <header>
          <!-- <div class="cntr hdr-top">
            <div id="lang">
                <a href="#" class="current-lang"><span>{{'Language' | translate}}<i class="fa fa-angle-down"></i></span></a>
              <ul>
                <li *ngFor="let lang of supportedLangs" (click)="selectLang(lang.value)" [class.active]="isCurrentLang(lang.value)">
                  <a href="#"><span>{{ lang.display }}</span></a>
                </li>
              </ul>
            </div>
            <ul class="user-link">
              <li><a href="#" routerLink="/login"><i class="lnr lnr-user"></i> <span>{{'Login' | translate}}</span></a></li>
              <li><a href="#" routerLink="/register"><i class="lnr lnr-plus-circle"></i> <span>{{'Register' | translate}}</span></a></li>
            </ul>
          </div> -->
          <div class="cntr hdr-top">
              <div id="lang">
                  <a href="#" class="current-lang"><span>{{'Language' | translate}}<i class="fa fa-angle-down"></i></span></a>
                <ul>
                  <li *ngFor="let lang of supportedLangs" (click)="selectLang(lang.value)" [class.active]="isCurrentLang(lang.value)">
                    <a href="#"><span>{{ lang.display }}</span></a>
                  </li>
                </ul>
              </div>
              <ul class="user-link">
                <li><a href="#" routerLink="/login" target="_blank"><i class="lnr lnr-user"></i> <span>{{'Login' | translate}}</span></a></li>
                <li><a href="#" routerLink="/register" target="_blank"><i class="lnr lnr-plus-circle"></i> <span>{{'Register' | translate}}</span></a></li>
              </ul>
            </div>
          <div class="cntr header-in">

            <a href="#" class="logo"></a>
            <div class="hdr-menu-wrap">
              <ul>
                <li><a href="#section-about">{{'ABOUT US' | translate}}</a></li>
                <li><a href="#sec02">{{'WHY DOMINIUM' | translate}}</a></li>
                <li><a href="#section-roadmap">{{'ROAD MAP' | translate}}</a></li>
                <li><a href="#sale-details">{{'TOKEN DETAILS'  | translate}}</a></li>
                <li><a href="#sec05">{{'Pitch Deck' | translate}}</a></li>
                <li><a href="#">{{'White Paper' | translate}}</a></li>
                <li><a href="#sec07">{{'FAQ' | translate}}</a></li>
                <li><a href="#section-airdrop">{{'AIR DROP' | translate}}</a></li>
                <li><a href="#sec09">{{ 'TEAM' | translate}}</a></li>
              </ul>
            </div>
            <div class="clear after-hdr"></div>
            <div class="b-text">
              <span class="left-img"><img src="/src/assets/img/img15.png" alt=""></span>
              <div>
                <h2>
            {{'Lorem Ipsum is simply dummy text of' | translate}}
          </h2>
                <h3>{{'the printing and typesetting industry.' | translate}}</h3>
                <p>
                  {{'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.' | translate}}
                </p>
                <br>
                <!-- div class="b-btns">
            <a href="#" class="button blue">JOIN OUR TELEGRAM CHANNEL NOW!</a>
            <a href="#" class="button orange">BUY DOM TOKENS NOW!</a>
          </div -->
                <div class="btns-">
                  <a href="#" class="buttn">{{'JOIN OUR TELEGRAM CHANNEL NOW!' | translate}}</a>
                  <a href="#" class="buttn" routerLink="/register" target="_blank">{{'BUY DOM TOKENS NOW!' | translate}}</a>
                </div>
                <div class="social-box">
                  <h3>{{'Follow Us' | translate}}</h3>
                  <ul>
                    <li><a href="#" title="follow us on facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" title="follow us on twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" title="follow us on youtube"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#" title="follow us on google plus"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" title="follow us on linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" title="follow us on instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" title="follow us on pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" title="follow us on reddit"><i class="fa fa-reddit-alien"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </header>
      </div>
      <a href="#" class="d-arrow"><i class="lnr lnr-chevron-down"></i></a>

    </div>
