body{

    background-color: #F4F5FA;

}
.navbar{
  background-color: rgb(17, 39, 58);
  color: aliceblue;
  }

  .navbar-header a{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
  }

  .navbar-right li{
    margin: 10px;
    font-size: 15px;
  }

  .sidebar{
    padding-top: 200px;
    width: 15%;
    text-align: center;
    background-color: rgb(14, 14, 37);
    color: aliceblue;
    border-right: 1px black groove;
    float: left;
    position: fixed;

  }
  .sidebar li{
    padding-bottom: 64px;
  }
  .sidebar li a:hover{
    color: black;
    background-color: rgb(36, 22, 73)
  }
  .sidebar span{color:aliceblue;font-size: large;font-weight: 600;padding-left: 10px;}

  .right{float:right;width:80%}
.right .transaction_table{
  margin-top: 100px;
  width: 100%;
}

.right .transaction_table thead th{
padding-right: 105px;
padding-left: 2px;
}

.right .transaction_table tbody td{
  background-color: white;
  padding-top: 50px;
}
