<footer>
    <section class="sec news-l">
      <div class="cntr">
        <p>
          By registering an account you will automatically receive news about software updates, product launches, new partnerships, etc.
        </p>
        <div class="btns- clfx">
          <a href="#" class="buttn"><i class="lnr lnr-user"></i> Register Now</a>
        </div>
      </div>
    </section>
    <div class="cntr">
      <div class="fot-box fot-about">
        <a href="#" class="logo"></a>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </p>
        <ul class="social">
          <li class="social-fb"><a href="#" title="follow us on facebook"><i class="fa fa-facebook"></i></a></li>
          <li class="social-twt"><a href="#" title="follow us on twitter"><i class="fa fa-twitter"></i></a></li>
          <li class="social-gog"><a href="#" title="follow us on google plus"><i class="fa fa-google-plus"></i></a></li>
          <li class="social-inst"><a href="#" title="follow us on instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="fot-box">
        <h3>block Title</h3>
        <ul class="fot-links">
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
        </ul>
      </div>
      <div class="fot-box">
        <h3>block Title</h3>
        <ul class="fot-links">
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
        </ul>
      </div>
      <div class="fot-box">
        <h3>block Title</h3>
        <ul class="fot-links">
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
          <li><a href="#">text Link</a></li>
        </ul>
      </div>
    </div>
    <div class="foot-bar">
      <div class="cntr">
        <p class="copryt">
          All rights reserved &copy {{date}}
        </p>
      </div>
    </div>
  </footer>
